<div id="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/contabilidad_general/transaccion">
                    Transacción
                </a>
            </li>
            <li class="breadcrumb-item active">Agregar transacción</li>
            </ol>
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-edit"></i>
                    Creación
                </div>
                <div class="card-body" id="1">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 border rounded">
                            <form name="transaccion_form" novalidate>
                                <h5 class="mb-3 text-center header_id">TRANSACCIÓN</h5>
                                <div class="form-group">
                                    <a>Periodo contable Actual:</a>
                                    <textarea rows="1" class="form-control" id="periodo_conta" value="{{periodo.FECHA_PERIODO}}" disabled>{{periodo.FECHA_PERIODO}}</textarea>
                                    <br>
                                    <a>Seleccione el tipo de transacción:</a>
                                        <select id="id_tipo_transaccion" class="form-control" name="select">
                                            {{#each tipo_transaccion}}
                                            <option value="{{CODIGO_TIPO_TRANSACCION}}">{{NOMBRE_TIPO_TRANSACCION}}</option> 
                                            {{else}}
                                            <option value="0" selected>---------------</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                <div class="form-group">
                                    <a>Fecha en que se realiza:</a>
                                    <input name="fecha" class="form-control" data-date-format="yyyy/mm/dd" id="datepicker">
                                    {{> fecha }}
                                </div>
                                <div class="form-group">
                                    <a>Ingrese el monto:</a>
                                    <input id="id_monto_transaccion" type="number" name="monto" class="form-control" placeholder="Monto transacción">
                                </div>
                                <div class="form-group">
                                    <a>Ingrese descripción de transacción:</a>
                                    <textarea rows="5" id="id_descripcion_transaccion" type="text" name="descripcion" class="form-control" placeholder="Descripción"></textarea>
                                </div>
                            </form>
                        </div>
                        <div  class="col-lg-6 col-xs-12 border rounded">
                            <form name="movimiento_form" novalidate>
                                <h5 class="mb-3 text-center header_id">MOVIMIENTOS</h5>
                                <div class="form-group">
                                    <a>Seleccione cuenta mayor a afectar:</a>
                                    <select id="cuenta" class="form-control" name="cuenta_padre">
                                        {{#each cuenta_padre}}
                                        <option value="{{ID_CUENTA}}">{{NOMBRE_CUENTA}}</option> 
                                        {{else}}
                                        <option value="0">-----------------</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a>Seleccione subcuenta a afectar:</a>
                                    <select id="sub_cuenta" class="form-control" name="sub_cuenta" disabled>
                                        <option value="0">-----------------</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a>Seleccione subcuenta menor a afectar:</a>
                                    <select id="sub_sub_cuenta" class="form-control" name="sub_sub_cuenta" disabled>
                                        <option value="0">-----------------</option>
                                   </select>
                                </div>
                                <div class="form-group">
                                    <a>Ingrese el monto de la cuenta:</a>
                                    <input id="monto_movimiento" type="number" name="monto" class="form-control" placeholder="Monto movimiento">
                                </div>
                                <div class="form-group">
                                    <a>Ingrese detalle del movimiento:</a>
                                    <textarea rows="2" id="detalle_movimiento" type="text" name="detalle" class="form-control" placeholder="Detalle"></textarea>
                                </div>
                                <div id="myForm" class="form-group">
                                    <input type="radio" name="Tipo" id="cb_cargar" value="false">Cargar
                                    <input type="radio" name="Tipo" id="cb_abonar" value="true">Abonar
                                </div>
                                <div class="col-12 text-center" style="padding-bottom: 5%">    
                                    <button class="btn btn-primary btn-plus" onclick="obtenerDatos()" type="button">
                                        Registrar movimiento  
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Movimientos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Cuenta</th>
                                    <th class="text-center">Detalle</th>               
                                    <th class="text-center">Debe</th>
                                    <th class="text-center">Haber</th>
                                </tr>
                            </thead>
                            <tbody id="tbBody">                                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3" class="text-right">Comprobación</th>
                                    <th class="text-center" id="debe">$ 0.00</th>
                                    <th class="text-center" id="haber">$ 0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>     
        </div>
        <div class="form-group text-center">
            <button id='aprobar' type="submit" onclick="guardarDato()" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
            <button id="cancel" class='btn btn-secondary' style="width: 30%" type='button'>Cancelar</button>         
            <br>     
            <br>     
        </div>
    </div>
</div>
    <script type="text/javascript">
        //Declaracion de variables
        var count = 0;
        var totalCargos = 0;
        var totalAbonos = 0;
        var codigo_cuentas = "";
        var cargos = "";
        var abonos = "";
        var codigoTipo = null;
        var monto = null;
        var descripcion = null;
        var ajuste = "";
        var periodo = "";
        var detalle_mov = "";
        var fechas = "";
        var detalles = "";
        var abonar = "";

        //Validad que solo un chechbox este seleccionado
        function unselect(){
            document.querySelectorAll('[name=Tipo]').forEach((x) => x.checked=false);
        }

        //Funcion para saber cual radiobutton esta seleccionado
            $('#myForm input').on('change', function() {
                abonar = $('input[name=Tipo]:checked', '#myForm').val();
                //alert(abonar);
            });
        
        $(document).ready(function(){
            //Funcion para el boton "cancelar"
            $("#cancel").click(function() {
                swal.fire({
                    title: '¿Esta seguro de cancelar el registro?',
                    text: "No podrá recuperar los datos registrados.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {
                        location.href="/contabilidad_general/transaccion/";
                    }
                });
            });
            
            //Funcion para llenar select de subcuenta dependiendo de la seleccion del select de cuenta
            $('#cuenta').change(function(){            
                var seleccionada = $('#cuenta').val();
                var url_nueva = "/contabilidad_general/select_subcuenta/"+seleccionada;
                console.log("AJAX: "+seleccionada);
                if(seleccionada != ''){
                    $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                                console.log("SUCCESS");
                            },
                        }).done(function(data){
                            $('#sub_cuenta').find('option').remove();
                            $('#sub_cuenta').html(data);
                            $('#sub_cuenta').prop('disabled',false);
                        });
                    }
                else{
                    $('#sub_cuenta').find('option').remove();
                    $('#sub_cuenta').prop('disabled', true);
                }
            });

            //Funcion para llenar select de subsubcuenta dependiendo de la seleccion del select de subcuenta
            $('#sub_cuenta').change(function(){            
                var seleccionada = $('#sub_cuenta').val();
                var url_nueva = "/contabilidad_general/select_subsubcuenta/"+seleccionada;
                console.log("AJAX: "+seleccionada);
                if(seleccionada != ''){
                    $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                                console.log("SUCCESS");
                            },
                        }).done(function(data){
                            $('#sub_sub_cuenta').find('option').remove();
                            $('#sub_sub_cuenta').html(data);
                            $('#sub_sub_cuenta').prop('disabled',false);
                        });
                    }
                else{
                    $('#sub_sub_cuenta').find('option').remove();
                    $('#sub_sub_cuenta').prop('disabled', true);
                }
            });
        });
        
        //Funcion para obtener los datos de los movimientos
        function obtenerDatos(){
            console.log("agregarFila")
            count = count + 1;
            var codigoCuenta = $("#cuenta").val();
            var codigoSubCuenta = $("#sub_cuenta").val();
            var codigoSubSubCuenta = $("#sub_sub_cuenta").val();
            var cbCuenta = document.getElementById("cuenta");
            var cbSubCuenta = document.getElementById("sub_cuenta");
            var cbSubSubCuenta = document.getElementById("sub_sub_cuenta");
            var cuenta = cbCuenta.options[cbCuenta.selectedIndex].text;
            var subCuenta = cbSubCuenta.options[cbSubCuenta.selectedIndex].text;
            var subSubCuenta = cbSubSubCuenta.options[cbSubSubCuenta.selectedIndex].text; 
            var monto_mov = parseFloat($("#monto_movimiento").val());
            var correcto = false;
            
            $(".dataTables_empty").remove();
            
            if(!isNaN(monto_mov) && abonar=="false"){//si es un numero NAN devuelve true --> !(devuelve false)=true
                if(cbCuenta.value !='0' && cuenta !='-----------------' && cbSubCuenta.value == '0'){
                    agregarFila(codigoCuenta, cuenta, monto_mov, abonar);
                    correcto = true;
                }else{
                    if(cbSubCuenta.value!='0' && subCuenta !='-----------------' && cbSubSubCuenta.value == '0'){
                        agregarFila(codigoSubCuenta, subCuenta, monto_mov, abonar);
                        correcto = true;
                    }else{
                        if(cbSubSubCuenta!='0' && subSubCuenta != '-----------------'){
                            agregarFila(codigoSubSubCuenta, subSubCuenta, monto_mov, abonar);
                            correcto = true;
                        }
                    }
                }
            }else{
                if(!isNaN(monto_mov) && abonar=="true"){
                    if(cbCuenta.value !='0' && cuenta !='-----------------' && cbSubCuenta.value == '0'){
                        agregarFila(codigoCuenta, cuenta, monto_mov, abonar);
                        correcto = true;
                    }else{
                        if(cbSubCuenta.value!='0' && subCuenta !='-----------------' && cbSubSubCuenta.value == '0'){
                            agregarFila(codigoSubCuenta, subCuenta, monto_mov, abonar);
                            correcto = true;
                        }else{
                            if(cbSubSubCuenta!='0' && subSubCuenta != '-----------------'){
                                agregarFila(codigoSubSubCuenta, subSubCuenta, monto_mov, abonar);
                                correcto = true;
                            }
                        }
                    }
                }
            }
            if(correcto==true){
                $("#monto_mov").val("")
            }else{
                console.log("Correcto: "+correcto);
                Swal.fire({
                    type: 'error',
                    title: 'Datos incompletos.',
                    text: 'Verifique que los campos de los Movimientos estén completos.'
                });
            }
        }
        //Funcion para agregar una nueva fila al registrar un nuevo movimiento
        function agregarFila(codigoCuenta, cuenta, monto_mov, abonar){
            fecha = $("#datepicker").val();
            detalle_mov =$("#detalle_movimiento").val();
            if(abonar=="false"){
                fechas+=fecha+",";
                codigo_cuentas+=codigoCuenta+",";
                detalles+=detalle_mov+",";
                cargos+=monto_mov+",";
                abonos+="0,";
                totalCargos = totalCargos + monto_mov;
                console.log("CARGO")
                $("#tbBody").append(
                    "<tr><td class='text-center'>"+fecha+"</td>"+
                    "<td>"+cuenta+"</td><td>"+detalle_mov+"</td>"+
                    "<td class='text-center'>$ "+monto_mov+"</td><td></td></tr>"
                );
                $("#debe").empty();
                $("#debe").append("$ "+totalCargos);
            };
            if(abonar=="true"){
                fechas+=fecha+",";
                codigo_cuentas+=codigoCuenta+",";
                detalles+=detalle_mov+",";
                abonos+=monto_mov+",";
                cargos+="0,";
                totalAbonos = totalAbonos + monto_mov;                
                console.log("ABONO")
                $("#tbBody").append(
                    "<tr><td class='text-center'>"+fecha+"</td>"+
                    "<td>"+cuenta+"</td><td>"+detalle_mov+"</td>"+
                    "<td></td><td class='text-center'>$ "+monto_mov+"</td></tr>"
                );
                $("#haber").empty();
                $("#haber").append("$ "+totalAbonos);
            }
        };
        
        //Convertir fecha en forma para MYSQL
        function convertDateFormat(string) {
            var info = string.split('/');
            return info[2] + '-' + info[1] + '-' + info[0];
        }
        
        //Funcion para guardar los movimientos y transaccion realizada
        function guardarDato(){
            codigoTipo = $("#id_tipo_transaccion").val();
            cbTipo = document.getElementById("id_tipo_transaccion");
            tipo = cbTipo.options[cbTipo.selectedIndex].text;
            monto = parseFloat($("#id_monto_transaccion").val());
            descripcion = $("#id_descripcion_transaccion").val();
            fecha = $("#datepicker").val();
            ajuste = 0;
            var codigo_ajuste = 0;
            periodo = $("#periodo_conta").val();
            console.log("PERIODO");
            console.log(periodo);
            if(tipo!='' && tipo!='---------' && !isNaN(monto) && descripcion!=''){
                if(totalAbonos==totalCargos){
                    if(totalAbonos==monto){
                        $.ajax({
                            url: "/contabilidad_general/transaccion/agregar_transaccion",
                            type: "POST",
                            data: {
                                'ID_CUENTA': codigo_cuentas,
                                'FECHA_MOVIMIENTO': fecha,
                                'DETALLE_MOVIMIENTO': detalle_mov,
                                'MONTO_CARGO': cargos,
                                'MONTO_ABONO': abonos,
                                'CODIGO_TIPO_TRANSACCION': codigoTipo,
                                'MONTO_TRANSACCION': monto,
                                'DESCRIPCION_TRANSACCION': descripcion,
                                'FECHA_TRANSACCION': fecha,
                                'FECHAINICIO_PERIODO': periodo,
                                'ES_AJUSTE': ajuste,
                                'CODIGO_TIPO_AJUSTE': codigo_ajuste
                            },
                            success: function(data){
                                console.log(data);
                                console.log("SUCCESS");
                            },
                            dataType: "json"
                        }).done(function(data){
                            location.href = data.success_url;
                        }).fail(function() {
                            location.href = "/contabilidad_general/transaccion";
                        }).always(function() {
                            console.log("complete");
                        });
                    }else{
                        Swal.fire({
                            type: 'error',
                            title: '!Datos incoherentes!',
                            text: 'El monto de la partida doble no concuerda con el monto de la transaccion.'
                        });
                    }
                }else{
                    Swal.fire({
                        type: 'error',
                        title: '!Error en partida doble!',
                        text: 'Los movimientos registrados para esta transacción no cumplen partida doble.'
                    });
                }
            }else{
                Swal.fire({
                    type: 'error',
                    title: 'Datos incompletos.',
                    text: 'Verifique que los campos de la Transacción estén completos.'
                });
            }
        }
    </script>