{{> navigation }}
<div class="container-fluid">
        <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/contabilidad_general/catalogo/">
                        Catalogo de cuentas
                        </a>
                </li>
                <li class="breadcrumb-item active">Modificar | Agregar Cuenta</li>
                </ol>
        <div class="row">
                <div class="col-md-5 mx-auto">
                        <ul class="nav nav-tabs">
                                <li class="nav-item">
                                        <a class="nav-link active" href="/contabilidad_general/catalogo/agregar_cuenta">Cuenta padre</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/contabilidad_general/catalogo/agregar_subcuenta">Sub cuenta</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/contabilidad_general/catalogo/agregar_subsubcuenta">Sub sub cuenta</a>
                                </li>
                        </ul>
                        <div class="card">
                                <div class="card-body">
                                        <form action="/contabilidad_general/catalogo/agregar_cuenta" method="POST">
                                                <div class="form-group">
                                                        <a>Rubro:</a>
                                                        <select class="form-control" name="CODIGO_CUENTA_PADRE" autofocus>
                                                                {{#each rubro}}
                                                                <option value="{{ID_CUENTA}}" >{{NOMBRE_CUENTA}}</option> 
                                                                {{else}}
                                                                <option value="0" selected>---------------</option>
                                                                {{/each}}
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <a>Codigo cuenta:</a>
                                                        <input type="number" name="CODIGO_CUENTA" class="form-control" placeholder="Codigo cuenta">
                                                </div>
                                                <div class="form-group">
                                                        <a>Nombre cuenta:</a>
                                                        <input type="text" name="NOMBRE_CUENTA" class="form-control" placeholder="Nombre cuenta">
                                                </div>
                                                <div class="form-group">
                                                        <a>Naturaleza:</a>
                                                        <select class="form-control" name="ID_NATURALEZA_CUENTA">
                                                                {{#each naturaleza}}
                                                                <option value="{{ID_NATURALEZA_CUENTA}}" >{{TIPO_NATURALEZA_CUETA}}</option> 
                                                                {{else}}
                                                                <option value="0" selected>---------------</option>
                                                                {{/each}}
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <button class="btn btn-primary btn-block">Guardar</button>
                                                </div>
                                        </form>
                                        <div class="form-group">
                                                <button id="cancel" class="btn btn-secondary btn-block">Cancelar</button>
                                        </div>
                                </div>
                        </div>
                        <div class="form-group">
                        </div>
                </div>
        </div>
</div>
{{> footer }}
<script type="text/javascript">
        $(document).ready(function(){
                //Funcion para el boton "cancelar"
                $("#cancel").click(function() {
                        swal.fire({
                                title: '¿Esta seguro de cancelar el registro?',
                                text: "No podrá recuperar los datos registrados.",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                        }).then((result) => {
                                if (result.value) {
                                        location.href="/contabilidad_general/catalogo/";
                                }
                        });
                });
        });
</script>

