<div id="content-wrapper">
        <div class="container-fluid">
        <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">Transacción</li>
                        <li class="breadcrumb-item active">Modificar | Agregar transacción</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-edit"></i>
                                Edición | Creación
                                <i class="fas fa-plus-circle"></i>
                        </div>
                        <div class="card-body" id="1">
                                <div class="row">
                                        <div class="col-lg-6 col-xs-12 border rounded">
                                                <form name="transaccion_form" novalidate>
                                                        <h4 class="mb-3 text-center header_id">TRANSACCION</h4>
                                                        <div class="form-group">
                                                                <a>Seleccione el tipo de transacción:</a>
                                                                <select class="form-control" name="select">
                                                                        {{#each tipo_transaccion}}
                                                                        <option value="{{CODIGO_TIPO_TRANSACCION}}">{{NOMBRE_TIPO_TRANSACCION}}</option> 
                                                                        {{else}}
                                                                        <option value="0" selected>---------------</option>
                                                                        {{/each}}
                                                                </select>
                                                        </div>
                                                        <div class="form-group">
                                                                <a>Fecha en que se realiza:</a>
                                                                <input name="fecha" class="form-control" data-date-format="dd/mm/yyyy" id="datepicker" disabled>
                                                                {{> fecha }}
                                                        </div>
                                                        <div class="form-group">
                                                                <a>Ingrese el monto:</a>
                                                                <input type="number" name="monto" class="form-control" placeholder="Monto">
                                                        </div>
                                                        <div class="form-group">
                                                                <a>Ingrese descripcion de transacción:</a>
                                                                <textarea type="text" name="descripcion" class="form-control" placeholder="Descripcion"></textarea>
                                                        </div>
                                                </form>
                                        </div>
                                        <div  class="col-lg-6 col-xs-12 border rounded">
                                                <form name="movimiento_form" novalidate>
                                                        <h4 class="mb-3 text-center header_id">MOVIMIENTOS</h4>
                                                        <div class="form-group">
                                                                <a>Seleccione cuenta mayor a afectar:</a>
                                                                <select class="form-control" name="cuenta_padre">
                                                                        {{#each cuenta_padre}}
                                                                        <option value="{{CODIGO_CUENTA}}">{{NOMBRE_CUENTA}}</option> 
                                                                        {{else}}
                                                                        <option value="0" selected>---------------</option>
                                                                        {{/each}}
                                                                </select>
                                                        </div>
                                                        <div class="form-group">
                                                                <a>Seleccione subcuenta a afectar:</a>
                                                                <select class="form-control" name="subcuenta" >
                                                                        {{#each subcuenta}}
                                                                        <option value="{{CODIGO_CUENTA}}">{{NOMBRE_CUENTA}}</option> 
                                                                        {{else}}
                                                                        <option value="0" selected>---------------</option>
                                                                        {{/each}}
                                                                </select>
                                                        </div>
                                                        <div class="form-group">
                                                                <a>Seleccione subcuenta menor a afectar:</a>
                                                                <select class="form-control" name="sub_subcuenta">
                                                                        {{#each sub_subcuenta}}
                                                                        <option value="{{CODIGO_CUENTA}}" >{{NOMBRE_CUENTA}}</option> 
                                                                        {{else}}
                                                                        <option value="0" selected>---------------</option>
                                                                        {{/each}}
                                                                </select>
                                                        </div>
                                                        <div class="form-group">
                                                                <a>Ingrese el monto de la cuenta:</a>
                                                                <input type="number" name="monto" class="form-control" placeholder="Monto">
                                                        </div>
                                                        <div class="form-group">
                                                                <input type="checkbox" id="cbox1" value="second_checkbox" checked> 
                                                                <label for="cbox2">Abonar</label>
                                                                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                                                                <label for="cbox2">Cargar</label>
                                                        </div>
                                                        <div class="col-12 text-center" style="padding-bottom: 5%">    
                                                                <button class="btn btn-primary btn-plus" type="button">
                                                                        Registrar movimiento  
                                                                        <i class="fas fa-plus-circle"></i>
                                                                </button>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div> 
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Movimientos
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                        <tr>
                                                                <th class="text-center">#</th>
                                                                <th class="text-center">Cuenta</th>                
                                                                <th class="text-center">Debe</th>
                                                                <th class="text-center">Haber</th>
                                                        </tr>
                                                </thead>
                                                <tbody id="tbBody">                                                
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                        <th colspan="2" class="text-right">Comprobacion</th>
                                                        <th class="text-center" id="debe">$ 0.00</th>
                                                        <th class="text-center" id="haber">$ 0.00</th>
                                                </tr>
                                                </tfoot>
                                        </table>
                                </div>
                        </div>
                </div>     
        </div>
        <div class="form-group text-center">
                <br>
                <button id='aprobar' type="submit" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
                <button class='btn btn-secondary' style="width: 30%" type='button'>Cancelar</button>                    
        </div>
</div>



