{{> navigation }}
<div id="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/contabilidad_general/transaccion">
                    Transacción
                </a>
            </li>
            <li class="breadcrumb-item active">Agregar transacción</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-edit"></i>
                    Creación
                </div>
                <div class="card-body" id="1">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 border rounded">
                            <form name="transaccion_form" novalidate>
                                <h5 class="mb-3 text-center header_id">TRANSACCIÓN</h5>
                                <div class="form-group">
                                    <a>Periodo contable Actual:</a>
                                    <textarea rows="1" class="form-control" id="periodo_conta" value="{{periodo.FECHA_PERIODO}}" disabled>{{periodo.FECHA_PERIODO}}</textarea>
                                </div>
                                <div class="form-group">
                                    <a>Seleccione el tipo de transacción:</a>
                                    <select id="id_tipo_transaccion" class="form-control" name="select" autofocus>
                                        {{#each tipo_transaccion}}
                                        <option value="{{CODIGO_TIPO_TRANSACCION}}">{{NOMBRE_TIPO_TRANSACCION}}</option> 
                                        {{else}}
                                        <option value="0" selected>---------------</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a>Fecha en que se realiza:</a>
                                    <input name="fecha" class="form-control" data-date-format="yyyy/mm/dd" id="datepicker">
                                    {{> fecha }}
                                </div>
                                <div class="form-group">
                                    <a>Ingrese el monto:</a>
                                    <input id="id_monto_transaccion" type="number" name="monto" class="form-control" placeholder="Monto transacción">
                                </div>
                                <div class="form-group">
                                    <a>Ingrese descripción de transacción:</a>
                                    <textarea rows="2" id="id_descripcion_transaccion" type="text" name="descripcion" class="form-control" placeholder="Descripción"></textarea>
                                </div>
                                <div id="impuesto" class="form-group">
                                </div>
                                <div id="iva_calculado" class="form-group">
                                </div>
                                <div class="col-12 text-center" style="padding-bottom: 5%">    
                                    <button class="btn btn-outline-primary" onclick="desactivar()" type="button">
                                        <i class="fas fa-plus-circle"></i>
                                        Registrar transacción
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div  class="col-lg-6 col-xs-12 border rounded">
                            <form name="movimiento_form" novalidate>
                                <h5 class="mb-3 text-center header_id">MOVIMIENTOS</h5>
                                <div class="form-group">
                                    <a>Seleccione cuenta mayor a afectar:</a>
                                    <select id="cuenta" class="form-control" name="cuenta_padre">
                                        {{#each cuenta_padre}}
                                        <option value="{{ID_CUENTA}}">{{NOMBRE_CUENTA}}</option> 
                                        {{else}}
                                        <option value="0">-----------------</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a>Seleccione subcuenta a afectar:</a>
                                    <select id="sub_cuenta" class="form-control" name="sub_cuenta" disabled>
                                        <option value="0">-----------------</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a>Seleccione subcuenta menor a afectar:</a>
                                    <select id="sub_sub_cuenta" class="form-control" name="sub_sub_cuenta" disabled>
                                        <option value="0">-----------------</option>
                                   </select>
                                </div>
                                <div id="monto" class="form-group">
                                    <a>Ingrese el monto de la cuenta:</a>
                                    <input id="monto_movimiento" type="number" name="monto" class="form-control" placeholder="Monto movimiento">
                                </div>
                                <div id="descripción" class="form-group">
                                    <a>Ingrese detalle del movimiento:</a>
                                    <textarea rows="2" id="detalle_movimiento" type="text" name="detalle" class="form-control" placeholder="Detalle"></textarea>
                                </div>
                                <div id="myForm" class="form-group">
                                    <input type="radio" name="Tipo" id="cb_cargar" value="false">Cargar
                                    <input type="radio" name="Tipo" id="cb_abonar" value="true">Abonar
                                </div>
                                <div class="col-12 text-center" style="padding-bottom: 5%">    
                                    <button class="btn btn-outline-primary btn-plus" onclick="obtenerDatos()" type="button">
                                        <i class="fas fa-plus-circle"></i>
                                        Registrar movimiento  
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Movimientos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Cuenta</th>
                                    <th class="text-center">Detalle</th>               
                                    <th class="text-center">Debe</th>
                                    <th class="text-center">Haber</th>
                                </tr>
                            </thead>
                            <tbody id="tbBody">                                                
                            </tbody>
                            <tfoot>
                                <tr id="comprobacion">
                                    <th colspan="3" class="text-right">Comprobación</th>
                                    <th class="text-center" id="debe">$ 0.00</th>
                                    <th class="text-center" id="haber">$ 0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>     
        </div>
        <div class="form-group text-center">
            <button id='aprobar' type="submit" onclick="guardarDato()" class='btn btn-primary' style="width: 30%" href='#'>Guardar</button>
            <button id="cancel" class='btn btn-secondary' style="width: 30%" type='button'>Cancelar</button>         
            <br>     
            <br>     
        </div>
    </div>
</div>
{{> footer }}
    <script type="text/javascript">
        //Declaracion de variables
        var count = 0;
        var totalCargos = 0;
        var totalAbonos = 0;
        var codigo_cuentas = "";
        var cargos = "";
        var abonos = "";
        var fechas = "";
        var detalles = "";
        var abonar = "";
        var detalle_mov ="";
        var descripcion = $("#id_descripcion_transaccion").val();

        //Funcion para desactivar componentes de transaccion
        function desactivar(){
            var valor = $('input[name=Tipo_1]:checked', '#impuesto_1').val();
            if(valor == "false"){
                if( descripcion === '' && $("#id_monto_transaccion").val() === ''){
                    Swal.fire({
                        type: 'error',
                        title: 'Datos incompletos.',
                        text: 'Verifique que los campos de la transaccion que estén completos.'
                    });
                }else{
                    document.getElementById("id_tipo_transaccion").disabled = true;
                    document.getElementById("datepicker").disabled = true;
                    document.getElementById("id_monto_transaccion").disabled = true;
                    document.getElementById("id_descripcion_transaccion").disabled = true;
                    document.getElementById("cb_impuesto").disabled = true;
                }
            }else{
                if( descripcion === '' && $("#id_monto_transaccion").val() === ''){
                    Swal.fire({
                        type: 'error',
                        title: 'Datos incompletos.',
                        text: 'Verifique que los campos de la transaccion que estén completos.'
                    });
                }else{
                    document.getElementById("id_tipo_transaccion").disabled = true;
                    document.getElementById("datepicker").disabled = true;
                    document.getElementById("id_monto_transaccion").disabled = true;
                    document.getElementById("id_descripcion_transaccion").disabled = true;
                }
            }
        }
        
        //Funcion para obtener los datos de los movimientos
        function obtenerDatos(){
            console.log("agregarFila");
            count = count + 1;
            var codigoCuenta = $("#cuenta").val();
            var codigoSubCuenta = $("#sub_cuenta").val();
            var codigoSubSubCuenta = $("#sub_sub_cuenta").val();
            var cbCuenta = document.getElementById("cuenta");
            var cbSubCuenta = document.getElementById("sub_cuenta");
            var cbSubSubCuenta = document.getElementById("sub_sub_cuenta");
            var cuenta = cbCuenta.options[cbCuenta.selectedIndex].text;
            var subCuenta = cbSubCuenta.options[cbSubCuenta.selectedIndex].text;
            var subSubCuenta = cbSubSubCuenta.options[cbSubSubCuenta.selectedIndex].text; 
            var monto_mov = parseFloat($("#monto_movimiento").val());
            var correcto = false;
            detalle_mov =$("#detalle_movimiento").val();
            $(".dataTables_empty").remove();
            
            if(!isNaN(monto_mov) && abonar=="false"){//si es un numero NAN devuelve true --> !(devuelve false)=true
                if(cbCuenta.value !='0' && cuenta !='-----------------' && cbSubCuenta.value == '0' && detalle_mov != ''){
                    agregarFila(codigoCuenta, cuenta, monto_mov, abonar);
                    correcto = true;
                }else{
                    if(cbSubCuenta.value!='0' && subCuenta !='-----------------' && cbSubSubCuenta.value == '0' && detalle_mov != ''){
                        agregarFila(codigoSubCuenta, subCuenta, monto_mov, abonar);
                        correcto = true;
                    }else{
                        if(cbSubSubCuenta!='0' && subSubCuenta != '-----------------' && detalle_mov != ''){
                            agregarFila(codigoSubSubCuenta, subSubCuenta, monto_mov, abonar);
                            correcto = true;
                        }
                    }
                }
            }else{
                if(!isNaN(monto_mov) && abonar=="true"){
                    if(cbCuenta.value !='0' && cuenta !='-----------------' && cbSubCuenta.value == '0' && detalle_mov != ''){
                        agregarFila(codigoCuenta, cuenta, monto_mov, abonar);
                        correcto = true;
                    }else{
                        if(cbSubCuenta.value!='0' && subCuenta !='-----------------' && cbSubSubCuenta.value == '0' && detalle_mov != ''){
                            agregarFila(codigoSubCuenta, subCuenta, monto_mov, abonar);
                            correcto = true;
                        }else{
                            if(cbSubSubCuenta!='0' && subSubCuenta != '-----------------' && detalle_mov != ''){
                                agregarFila(codigoSubSubCuenta, subSubCuenta, monto_mov, abonar);
                                correcto = true;
                            }
                        }
                    }
                }
            }
            if(correcto==true){
                $("#monto_movimiento").val("");
                $("#detalle_movimiento").val("");
                $("#cuenta").val('3');
                $("#sub_cuenta").empty();
                $("#sub_cuenta").append('<option value="0">---------------</option>');
                $("#sub_sub_cuenta").empty();
                $("#sub_sub_cuenta").append('<option value="0">---------------</option>');
                document.getElementById("cb_cargar").checked = false;
                document.getElementById("cb_abonar").checked = false;
            }else{
                console.log("Correcto: "+correcto);
                Swal.fire({
                    type: 'error',
                    title: 'Datos incompletos.',
                    text: 'Verifique que los campos de los Movimientos estén completos.'
                });
            }
        }
        
        //Funcion para agregar una nueva fila al registrar un nuevo movimiento
        function agregarFila(codigoCuenta, cuenta, monto_mov, abonar){
            detalle_mov =$("#detalle_movimiento").val();
            fecha = $("#datepicker").val();
            if(abonar=="false"){
                fechas+=fecha+",";
                codigo_cuentas+=codigoCuenta+",";
                detalles+=detalle_mov+",";
                cargos+=monto_mov+",";
                abonos+="0,";
                totalCargos = totalCargos + monto_mov;
                console.log("CARGO")
                $("#tbBody").append(
                    "<tr><td class='text-center'>"+fecha+"</td>"+
                    "<td>"+cuenta+"</td><td>"+detalle_mov+"</td>"+
                    "<td class='text-center'>$ "+monto_mov+"</td><td></td></tr>"
                );
                $("#debe").empty();
                $("#debe").append("$ "+totalCargos);
            };
            if(abonar=="true"){
                fechas+=fecha+",";
                codigo_cuentas+=codigoCuenta+",";
                detalles+=detalle_mov+",";
                abonos+=monto_mov+",";
                cargos+="0,";
                totalAbonos = totalAbonos + monto_mov;                
                console.log("ABONO")
                $("#tbBody").append(
                    "<tr><td class='text-center'>"+fecha+"</td>"+
                    "<td>"+cuenta+"</td><td>"+detalle_mov+"</td>"+
                    "<td></td><td class='text-center'>$ "+monto_mov+"</td></tr>"
                );
                $("#haber").empty();
                $("#haber").append("$ "+totalAbonos);
            }
        };

        //Convertir fecha en forma para MYSQL
        function convertDateFormat(string) {
            var info = string.split('/');
            return info[2] + '-' + info[1] + '-' + info[0];
        }
        
        //Funcion para guardar los movimientos y transaccion realizada
        function guardarDato(){
            var codigoTipo = $("#id_tipo_transaccion").val();
            var cbTipo = document.getElementById("id_tipo_transaccion");
            var tipo = cbTipo.options[cbTipo.selectedIndex].text;
            var monto = parseFloat($("#id_monto_transaccion").val());
            var descripcion = $("#id_descripcion_transaccion").val();
            var fecha = $("#datepicker").val();
            var ajuste = "NO";
            var codigo_ajuste = 0;
            var periodo = $("#periodo_conta").val();
            var valor = $('input[name=Tipo_1]:checked', '#impuesto_1').val();
            var val_impuesto = $('#monto_iva').val();
            var totalAbonos_imp = totalAbonos + val_impuesto;
            var totalCargos_imp = totalCargos + val_impuesto;
            var is_impuesto = "";
            var monto_impuesto = "";
            console.log("impuesto"+val_impuesto);
            console.log(valor);
            if(valor == "false"){
                is_impuesto = "SI";
                monto_impuesto = $('#monto_iva').val();
                if(tipo!='' && tipo!='---------' && !isNaN(monto) && descripcion!=''){
                    if(totalCargos_imp==totalAbonos_imp){
                        $.ajax({
                            url: "/contabilidad_general/transaccion/agregar_transaccion",
                            type: "POST",
                            data: {
                                'ID_CUENTA': codigo_cuentas,
                                'FECHA_MOVIMIENTO': fecha,
                                'DETALLE_MOVIMIENTO': detalle_mov,
                                'MONTO_CARGO': cargos,
                                'MONTO_ABONO': abonos,
                                'CODIGO_TIPO_TRANSACCION': codigoTipo,
                                'MONTO_TRANSACCION': monto,
                                'DESCRIPCION_TRANSACCION': descripcion,
                                'FECHA_TRANSACCION': fecha,
                                'FECHAINICIO_PERIODO': periodo,
                                'ES_AJUSTE': ajuste,
                                'ID_TRANSACCION_AJUSTE': codigo_ajuste,
                                'ES_IMPUESTO': is_impuesto, 
                                'MONTO_IMPUESTO': monto_impuesto
                            },
                            success: function(data){
                                console.log(data);
                                console.log("SUCCESS");
                            },
                            dataType: "json"
                        }).done(function(data){
                            location.href = data.success_url;
                        }).fail(function() {
                            location.href = "/contabilidad_general/transaccion";
                        }).always(function() {
                            console.log("complete");
                        });
                    }else{
                        Swal.fire({
                            type: 'error',
                            title: '!Error en partida doble!',
                            text: 'Los movimientos registrados para esta transacción no cumplen partida doble.'
                        });
                    }
                }else{
                    Swal.fire({
                        type: 'error',
                        title: 'Datos incompletos.',
                        text: 'Verifique que los campos de la Transacción estén completos.'
                    });
                }
            }else{
                is_impuesto = "NO";
                monto_impuesto = 0;
                if(tipo!='' && tipo!='---------' && !isNaN(monto) && descripcion!=''){
                    if(totalAbonos==totalCargos){
                        if(totalAbonos==monto){
                            $.ajax({
                                url: "/contabilidad_general/transaccion/agregar_transaccion",
                                type: "POST",
                                data: {
                                    'ID_CUENTA': codigo_cuentas,
                                    'FECHA_MOVIMIENTO': fecha,
                                    'DETALLE_MOVIMIENTO': detalle_mov,
                                    'MONTO_CARGO': cargos,
                                    'MONTO_ABONO': abonos,
                                    'CODIGO_TIPO_TRANSACCION': codigoTipo,
                                    'MONTO_TRANSACCION': monto,
                                    'DESCRIPCION_TRANSACCION': descripcion,
                                    'FECHA_TRANSACCION': fecha,
                                    'FECHAINICIO_PERIODO': periodo,
                                    'ES_AJUSTE': ajuste,
                                    'ID_TRANSACCION_AJUSTE': codigo_ajuste,
                                    'ES_IMPUESTO': is_impuesto, 
                                    'MONTO_IMPUESTO': monto_impuesto
                                },
                                success: function(data){
                                    console.log(data);
                                    console.log("SUCCESS");
                                },
                                dataType: "json"
                            }).done(function(data){
                                location.href = data.success_url;
                            }).fail(function() {
                                location.href = "/contabilidad_general/transaccion";
                            }).always(function() {
                                console.log("complete");
                            });
                        }else{
                            Swal.fire({
                                type: 'error',
                                title: '!Datos incoherentes!',
                                text: 'El monto de la partida doble no concuerda con el monto de la transaccion.'
                            });
                        }
                    }else{
                        Swal.fire({
                            type: 'error',
                            title: '!Error en partida doble!',
                            text: 'Los movimientos registrados para esta transacción no cumplen partida doble.'
                        });
                    }
                }else{
                    Swal.fire({
                        type: 'error',
                        title: 'Datos incompletos.',
                        text: 'Verifique que los campos de la Transacción estén completos.'
                    });
                }
            }
        }
        
        //funcion para editar un movimiento de la tabla
        function editar(count, detalle_mov, monto_movimiento, abonar, codigoCuenta, total){
            console.log(count);
            var num = count -1;
            var nuevoTotal = total - monto_movimiento;
            $("#detalle_movimiento").val(detalle_mov);
            $("#monto_movimiento").val(monto_movimiento);
            if(abonar != true){
                document.getElementById("cb_cargar").checked = true;
                $("#debe").empty();
                $("#debe").append("$ "+nuevoTotal);
            }else{
                document.getElementById("cb_abonar").checked = true;
                $("#haber").empty();
                $("#haber").append("$ "+nuevoTotal);
            }

            console.log("#dataTable #tbBody tr:eq("+num+")");
            $("#dataTable #tbBody tr:eq("+num+")").empty();
        }

        //Validad que solo un chechbox este seleccionado
        function unselect(){
            document.querySelectorAll('[name=Tipo]').forEach((x) => x.checked=false);
        }

        //Funcion para saber cual radiobutton esta seleccionado
        $('#myForm input').on('change', function() {
            abonar = $('input[name=Tipo]:checked', '#myForm').val();
        });

        //Validar check de aplicar impuesto
        function check() {
            var monto = parseFloat($("#id_monto_transaccion").val());
            if( monto != ''){
                document.getElementById("myCheck").checked = true;
            }
            else{
                Swal.fire({
                        type: 'error',
                        title: 'Datos incompletos.',
                        text: 'Debe llenar el campo del monto de transacción para poder aplicar iva'
                    });
            }
        }

        //Funcion para agregar el campo del monto de iva calculado
        function agregar_campo() {
            var valor = $('input[name=Tipo_1]:checked', '#impuesto_1').val();
            var monto_tran = parseFloat($("#id_monto_transaccion").val());
            var url_nueva = "/contabilidad_general/monto_impuesto/"+monto_tran;
            console.log(valor);
            console.log("monto"+monto_tran);
            //Validar que para aplicar iva debe haber ingresado el monto de la transaccion
            if(valor == "false" && !(isNaN(monto_tran))){
                $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                            $('#iva_calculado').html(data);
                            console.log("SUCCESS");
                        },
                    });
            }else{
                $('#iva_calculado_1').remove();
                document.getElementById("cb_impuesto").checked = false;
                Swal.fire({
                    type: 'error',
                    title: 'Datos incompletos.',
                    text: 'Debe llenar el campo del monto de transacción para poder aplicar iva'
                });
            }
        }

        $(document).ready(function(){
            //Funcion para llenar select de subsubcuenta dependiendo de la seleccion del select de subcuenta
            $('#id_tipo_transaccion').change(function(){            
                var seleccionada = $('#id_tipo_transaccion').val();
                console.log(seleccionada);
                var url_nueva = "/contabilidad_general/check_impuesto";
                if(seleccionada == 1 || seleccionada == 2 || seleccionada == 3 || seleccionada == 4 || seleccionada == 5 || seleccionada == 6){
                    $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                            $('#impuesto').html(data);
                            console.log("SUCCESS");
                        },
                    });
                }
                else{
                    $('#impuesto_1').remove();
                }
            });

            //Funcion para el boton "cancelar"
            $("#cancel").click(function() {
                swal.fire({
                    title: '¿Esta seguro de cancelar el registro?',
                    text: "No podrá recuperar los datos registrados.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {
                        location.href="/contabilidad_general/transaccion/";
                    }
                });
            });
            
            //Funcion para llenar select de subcuenta dependiendo de la seleccion del select de cuenta
            $('#cuenta').change(function(){            
                var seleccionada = $('#cuenta').val();
                var url_nueva = "/contabilidad_general/select_subcuenta/"+seleccionada;
                console.log("AJAX: "+seleccionada);
                if(seleccionada != ''){
                    $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                                console.log("SUCCESS");
                            },
                        }).done(function(data){
                            $('#sub_cuenta').find('option').remove();
                            $('#sub_cuenta').html(data);
                            $('#sub_cuenta').prop('disabled',false);
                        });
                    }
                else{
                    $('#sub_cuenta').find('option').remove();
                    $('#sub_cuenta').prop('disabled', true);
                }
            });

            //Funcion para llenar select de subsubcuenta dependiendo de la seleccion del select de subcuenta
            $('#sub_cuenta').change(function(){            
                var seleccionada = $('#sub_cuenta').val();
                var url_nueva = "/contabilidad_general/select_subsubcuenta/"+seleccionada;
                console.log("AJAX: "+seleccionada);
                if(seleccionada != ''){
                    $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                                console.log("SUCCESS");
                            },
                        }).done(function(data){
                            $('#sub_sub_cuenta').find('option').remove();
                            $('#sub_sub_cuenta').html(data);
                            $('#sub_sub_cuenta').prop('disabled',false);
                        });
                    }
                else{
                    $('#sub_sub_cuenta').find('option').remove();
                    $('#sub_sub_cuenta').prop('disabled', true);
                }
            });
        });
    </script>