<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">Estados Financieros</li>
                <li class="breadcrumb-item active">Balance de Comprobación</li>
                </ol>
                <!-- DataTables -->
                <!--<div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/estados_financieros/balance_comprobacion/{{estadosfinancieros.ID_ESTADOFINANCIERO}}/notas_explicativas/listado"> 
                                <strong>¡Click aquí para visualizar las notas explicativas!</strong>
                        </a>
                </div>-->
                
                <div class="card mb-3">
                        <div class="card-body">
                                <!--<form action="/contabilidad_general/estados_financieros/listado/" method="GET">-->
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3" class="text-center">
                                                            PROPLASTIC S.A. DE C.V.
                                                            <br>
                                                            Balance de Comprobacion
                                                            <br>
                                                            Del {{periodocontable.FECHAINICIO}} al {{periodocontable.FECHAFINAL}} de {{periodocontable.MES}} de {{periodocontable.ANIO}}</td>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                    <tr>
                                                        <th>CUENTAS</th>
                                                        <th>DEBE</th>
                                                        <th>HABER</th>
                                                    </tr>
                                                {{#each cuentas}}
                                                <tbody>
                                                        <tr id="ID_ESTADOFINANCIERO">
                                                                <td>{{ NOMBRE_CUENTA }}</td>
                                                                <td>{{ MONTO_SALDO }}</td>
                                                                <td>{{ ES_SALDO_ACREEDOR  }}</td>                     
                                                        </tr>
                                                </tbody>
                                                {{else}}
                                                <div class="card card-body text-center">
                                                        <p>¡Opps! Parece que no se puede generar un estado sin cuentas.</p>
                                                </div>
                                                {{/each}}
                                        </table>
                                </div>
                                <!--</form>-->
                        </div>
                </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->