{{> navigation }}
<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/contabilidad_general/estados_financieros/listado">
                        Estados Financieros
                        </a> 
                </li>
                <li class="breadcrumb-item active">Balance General</li>
                </ol>
                <div class="card mb-3">
                        <div class="card-body">
                                
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th colspan="4" class="text-center">
                                                            PROPLASTIC S.A. DE C.V.
                                                            <br>
                                                            Balance de Estado de Situación Financiera
                                                            <br>
                                                            Al {{periodocontable.FECHAFINAL}} de {{periodocontable.MES}} de {{periodocontable.ANIO}} </td>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <thead>
                                                    <tr>
                                                        <th colspan="4">ACTIVO</th>
                                                    </tr>
                                                </thead>
                                                    {{#each cuentas_activo}}
                                                    <tbody>
                                                        <tr id="ID_ESTADOFINANCIERO">
                                                            <td width="15%">{{ CODIGO_CUENTA}}</td>
                                                            <td>{{ NOMBRE_CUENTA }}</td>
                                                            <td class="text-center">{{ MONTO_SALDO }}</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    {{/each}}
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th class="text-right">Total Activos</th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center">{{suma_activo.TOTAL_ACTIVO}}</th>
                                                    </tr>
                                                <thead>
                                                    <tr>
                                                        <th colspan="4">PASIVO</th>
                                                    </tr>
                                                </thead>
                                                    {{#each cuentas_pasivo}}
                                                    <tbody>
                                                        <tr id="ID_ESTADOFINANCIERO">
                                                            <td width="15%">{{ CODIGO_CUENTA}}</td>
                                                            <td>{{ NOMBRE_CUENTA }}</td>
                                                            <td class="text-center">{{ MONTO_SALDO }}</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    {{/each}}
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th class="text-right">Total Pasivos</th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center">{{suma_pasivo.TOTAL_PASIVO}}</th>
                                                    </tr>
                                                <thead>
                                                    <tr>
                                                        <th colspan="4">PATRIMONIO</th>
                                                    </tr>
                                                </thead>
                                                    <tbody>
                                                        <tr id="ID_ESTADOFINANCIERO">
                                                            <td width="15%">{{ utilidad.CODIGO_CUENTA}}</td>
                                                            <td>{{ utilidad.NOMBRE_CUENTA }}</td>
                                                            <td class="text-center">{{ utilidad.SALDO_CUENTA}}</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    {{#each cuentas_patrimonio}}
                                                    <tbody>
                                                        <tr id="ID_ESTADOFINANCIERO">
                                                            <td width="15%">{{ CODIGO_CUENTA}}</td>
                                                            <td>{{ NOMBRE_CUENTA }}</td>
                                                            <td class="text-center">{{ MONTO_SALDO }}</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    {{/each}}
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th class="text-right">Total Patrimonio</th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center">{{total_patrimonio}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th class="text-right">Total Pasivo + Patrimonio</th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center">{{total_PP}}</th>
                                                    </tr>
                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->
{{> footer }}