
{{> navigation }}

<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/contabilidad_general/estados_financieros/listado">
                        Estados Financieros
                        </a> 
                </li>

                <li class="breadcrumb-item active">Estado de Capital</li>
                </ol>
                <!-- DataTables -->
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/estados_financieros/notas_explicativas/listado">
                        <strong>¡Click aquí para visualizar las notas explicativas!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-body">
                                
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>

                                                        <th colspan="6" class="text-center">

                                                            PROPLASTIC S.A. DE C.V.
                                                            <br>
                                                            Estado de Cambios en el Patrimonio
                                                            <br>

                                                            Del {{periodocontable.FECHAINICIO}} al {{periodocontable.FECHAFINAL}} de {{periodocontable.MES}} de {{periodocontable.ANIO}} </td>

                                                        </th>
                                                    </tr>
                                                </thead>
                                                    <tr>

                                                        <th class="text-center">CODIGO</th>
                                                        <th class="text-center">CUENTAS</th>
                                                        <th class="text-center">SALDO INICIAL</th>
                                                        <th class="text-center">AUMENTOS</th>
                                                        <th class="text-center">DISMINUCIONES</th>
                                                        <th class="text-center">SALDO FINAL</th>
                                                    </tr>
                                                    {{#each cuentas_patrimonio}}
                                                    <tbody>
                                                            <tr id="ID_ESTADOFINANCIERO">
                                                                    <td width="15%">{{ CODIGO_CUENTA}}</td>
                                                                    <td>{{ NOMBRE_CUENTA }}</td>
                                                                    <td class="text-center">{{ SALDO_CUENTA }}</td>
                                                                    <td class="text-center"></td>   
                                                                    <td class="text-center"></td>  
                                                                    <td class="text-center">{{ SALDO_CUENTA }}</td>                    
                                                            </tr>
                                                    </tbody>
                                                    {{/each}}

                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->
{{> footer }}

