<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/contabilidad_general">
                            Contabilidad General
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Catalogo de Cuentas</li>
                </ol>
                <!-- DataTables -->
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/catalogo/agregar_cuenta">
                        <strong>¡Click Aquí para agregar una nueva cuenta al catálogo!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Catálogo de Cuentas
                        </div>
                        <div class="card-body">
                                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                        <div id="example_filter" class="dataTables_filter">
                                                <input style="width: 29%" type="search" class="form-control form-control-sm" placeholder="Buscar..." aria-controls="example">
                                        </div>
                                        <span class="counter pull-right"></span>
                                        <table class="table table-bordered dataTable" id="example" width="100%" cellspacing="0" role="grid" aria-describedby="example_info">
                                                <thead>
                                                        <tr>
                                                                <th aria-controls="example"># Id</th>
                                                                <th aria-controls="example">Codigo Cuenta</th>
                                                                <th aria-controls="example">Nombre Cuenta</th>
                                                                <th aria-controls="example">Operaciones</th>
                                                        </tr>
                                                </thead>
                                                {{#each cuenta}}
                                                <tbody >
                                                        <tr class="odd" id="ID_CUENTA">
                                                                <td class="text-center">{{ ID_CUENTA }}</td>
                                                                <td>{{ CODIGO_CUENTA }}</td>
                                                                <td>{{ NOMBRE_CUENTA }}</td>
                                                                <td class="text">
                                                                        <a class="fas fa-w fa-eye" name="ver" href="/contabilidad_general/catalogo/ver_cuenta/{{ID_CUENTA}}" style="color:gray !important"></a>
                                                                        <a class="fas fa-w fa fa-trash" name="eliminar" href="#"  style="color:gray !important"></a>
                                                                </td>                          
                                                        </tr>
                                                </tbody>
                                                {{else}}
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"></table>
                                                        <div class="alert bold alert-danger text-center" >
                                                                <strong>¡Opps! Parece que no tienes ninguna cuenta registrada.</strong>
                                                        </div>
                                                </table>
                                                {{/each}}
                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->
<script>
        $(document).ready(function() {
                $('#example').DataTable();
        } );
</script>

