{{> navigation }}
<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/contabilidad_general">
                            Contabilidad General
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Catalogo de Cuentas</li>
                </ol>
                <!-- DataTables -->
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/catalogo/agregar_cuenta">
                        <strong>¡Click Aquí para agregar una nueva cuenta al catálogo!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Catálogo de Cuentas
                        </div>
                        <div class="card-body">
                                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                        <table id="example" class="table table-bordered" style="width:100%">
                                                <thead>
                                                        <tr>
                                                                <th aria-controls="example"># Id</th>
                                                                <th aria-controls="example">Codigo Cuenta</th>
                                                                <th aria-controls="example">Nombre Cuenta</th>
                                                                <th aria-controls="example">Operaciones</th>
                                                        </tr>
                                                </thead>
                                                {{#each cuenta}}
                                                <tbody>
                                                        <tr>
                                                                <td class="text-center">{{ ID_CUENTA }}</td>
                                                                <td>{{ CODIGO_CUENTA }}</td>
                                                                <td>{{ NOMBRE_CUENTA }}</td>
                                                                <td class="text">
                                                                        <a class="fas fa-w fa-eye" name="ver" href="/contabilidad_general/catalogo/ver_cuenta/{{ID_CUENTA}}" style="color:gray !important">Ver</a>
                                                                        <a class="fas fa-w fa fa-edit" name="eliminar" href="#"  style="color:gray !important">Editar</a>
                                                                </td>                          
                                                        </tr>
                                                </tbody>
                                                {{else}}
                                                <table id="example1" class="table table-bordered" style="width:100%">
                                                        <div class="alert bold alert-danger text-center" >
                                                                <strong>¡Opps! Parece que no tienes ninguna cuenta registrada.</strong>
                                                        </div>
                                                </table>
                                                {{/each}}
                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->
{{> footer }}
<script type="text/javascript">
        $(document).ready(function() {
                $('#example').DataTable();
        });

</script>

