<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">Contabilidad General</li>
                <li class="breadcrumb-item active">Catalogo de Cuentas</li>
                </ol>
                <!-- DataTables -->
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/catalogo/agregar_cuenta">
                        <strong>¡Click Aquí para agregar una nueva cuenta al catálogo!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Catálogo de Cuentas
                        </div>
                        <div class="card-body">
                                <div class="form-group">
                                        <div class="form-group">
                                                <input style="width: 15%" type="text" class="search form-control" placeholder="Buscar">
                                        </div>
                                </div>
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                        <tr>
                                                                <th># Id</th>
                                                                <th>Codigo Cuenta</th>
                                                                <th>Nombre Cuenta</th>
                                                                <th>Operaciones</th>
                                                        </tr>
                                                </thead>
                                                {{#each cuenta}}
                                                <tbody>
                                                        <tr id="ID_CUENTA">
                                                                <td class="text-center">{{ ID_CUENTA }}</td>
                                                                <td>{{ CODIGO_CUENTA }}</td>
                                                                <td>{{ NOMBRE_CUENTA }}</td>
                                                                <td class="text">
                                                                        <a class="fas fa-w fa-eye" name="ver" href="/contabilidad_general/catalogo/ver_cuenta/{{ID_CUENTA}}" style="color:gray !important"></a>
                                                                        <a class="fas fa-w fa fa-trash" name="eliminar" href="#"  style="color:gray !important"></a>
                                                                </td>                          
                                                        </tr>
                                                </tbody>
                                                {{else}}
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"></table>
                                                        <div class="alert bold alert-danger text-center" >
                                                                <strong>¡Opps! Parece que no tienes ninguna cuenta registrada.</strong>
                                                        </div>
                                                </table>
                                                {{/each}}
                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->
