<div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/contabilidad_general/transaccion">
                        Transacción
                        </a>
                </li>
                <li class="breadcrumb-item active">Ver Transacción</li>
        </ol>
        <div class="col-md-5 mx-auto">
                <div class="card">
                        <div class="card-header">
                                <i class="fas fa-list"></i>
                                Detalle transaccion
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <tbody>
                                                        <tr>
                                                                <th>Id transacción:</th>
                                                                <td>{{transaccion.ID_TRANSACCION}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Tipo de transacción:</th>
                                                                <td>{{transaccion.NOMBRE_TIPO_TRANSACCION}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Descripción:</th>
                                                                <td>{{transaccion.DESCRIPCION_TRANSACCION}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Fecha:</th>
                                                                <td>{{transaccion.FECHA_TRANSACCION_FORMATO}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Monto:</th>
                                                                <td>{{transaccion.MONTO_TRANSACCION}}</td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                        <div class="form-group">
                                                <button onclick="window.location='/contabilidad_general/transaccion'" class="btn btn-primary btn-block">Aceptar</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div><!-- /.container-fluid -->